*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #0b0911;
    color: #ece3ff;
    line-height: 1.5;
    font-size: 14px;
}

/* HEADER */

.inicio{
    background: #16101f;
    padding: 70px 20px;
    text-align: center;
    border-bottom: 2px solid #5c2a86;
}

.info-header h1{
    font-size: 42px;
    color: #d7b7ff;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.info-header p{
    color: #bca7d6;
    font-size: 15px;
}

/* SECCIONES */

section{
    width: 82%;
    margin: 30px auto;
    background: #17131f;
    padding: 28px;
    border-radius: 10px;
    border: 1px solid #43235e;
}

section h2{
    font-size: 24px;
    margin-bottom: 18px;
    color: #d4b3ff;
    border-left: 4px solid #7b2cbf;
    padding-left: 10px;
}

/* SOBRE MI */

.acerca p{
    margin-bottom: 14px;
    color: #d6cae7;
}

/* HABILIDADES */

.skills{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.bloque{
    flex: 1;
    min-width: 240px;
    background: #1d1727;
    padding: 20px;
    border-radius: 8px;
}

.bloque ol{
    margin-left: 18px;
}

.bloque li{
    margin-bottom: 10px;
    color: #d8caeb;
}

/* PROYECTOS */

.tarjetas{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 260px;
    background: #1b1524;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #45255f;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

.card img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card h3{
    color: #d7b4ff;
    padding: 15px 15px 8px;
    font-size: 18px;
}

.card p{
    padding: 0 15px 14px;
    color: #d0c4df;
    font-size: 13px;
}

.card span{
    display: inline-block;
    margin: 0 15px 15px;
    padding: 5px 12px;
    background: #5d2a86;
    color: white;
    border-radius: 15px;
    font-size: 11px;
}

/* CONTACTO */

.contacto p{
    margin-bottom: 10px;
    color: #d9caea;
}

/* FOOTER */

footer{
    text-align: center;
    padding: 18px;
    margin-top: 30px;
    background: #140f1c;
    border-top: 1px solid #4f2a70;
    color: #aa92c8;
    font-size: 13px;
}

/* RESPONSIVE */

@media(max-width: 768px){

    .info-header h1{
        font-size: 30px;
    }

    .skills{
        flex-direction: column;
    }

    .tarjetas{
        flex-direction: column;
        align-items: center;
    }

    
}
.boton{
    display: inline-block;
    margin: 0 15px 15px;
    padding: 8px 14px;
    background: #5d2a86;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 13px;
    transition: 0.3s;
}

.boton:hover{
    background: #7b3db1;
}